{% extends "base.html" %}
{% block title %} Сообщение пользователя {{ profile.username }} {% endblock %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "profile_information.html" with profile=object user=user following=following %}
            </div>

            <div class="col-md-9">                 
                {% include "post_item.html" with post=post user=user from_post=True %}
                {% include "comments.html" %} 
            </div>
    </div>
</main>
{% endblock %}