{% extends "base.html" %}
{% block title %} Сообщение пользователя {{ profile.username }} {% endblock %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "profile_information.html" with profile=profile user=user following=following%}
            </div>

            <div class="col-md-9">                
                <!-- Начало блока с отдельным постом --> 
                {% include "post_item.html" with post=post %}
                <!-- Конец блока с отдельным постом -->

                {% include "comments.html" %} 

            </div>
    </div>
</main>
{% endblock %}