{% extends "base.html" %}
{% block title %} Профиль пользователя {{ profile.username }} {% endblock %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        {% include "profile_information.html" with profile=profile user=user following=following%}
                </div>

                <div class="col-md-9">
                        {% for post in page %}
                        <!-- Начало блока с отдельным постом -->
                                {% include "post_item.html" with post=post %}
                        <!-- Конец блока с отдельным постом -->
                        {% endfor %}

                        <!-- Остальные посты -->

                        {% if page.has_other_pages %}
                                {% include "paginator.html" with items=page paginator=paginator%}
                        {% endif %}
                </div>
        </div>
</main>
{% endblock %}