<div class="card">
        <div class="card-body">
                <div class="h2">
                        <!-- Имя автора -->
                        {{ profile.first_name }} {{ profile.last_name }}
                </div>
                <div class="h3 text-muted">
                        <!-- username автора -->
                        @{{ profile.username }}
                </div>
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        <div class="h6 text-muted">
                                Подписчиков: {{profile.followers_count}} <br />
                                Подписан: {{profile.following_count}}
                        </div>
                </li>
                <li class="list-group-item">
                        <div class="h6 text-muted">
                                <!-- Количество записей -->
                                Записей: {{profile.post_count}}
                        </div>
                </li>
                {% if user.is_authenticated and profile != user %}
                        <li class="list-group-item">
                                {% if following %}
                                        <a class="btn btn-lg btn-light" href="{% url 'profile_unfollow' profile.username %}"
                                                role="button">
                                                Отписаться
                                        </a>
                                {% else %}
                                        <a class="btn btn-lg btn-primary" href="{% url 'profile_follow' profile.username %}"
                                                role="button">
                                                Подписаться
                                        </a>
                                {% endif %}
                        </li>
                {% endif %}
        </ul>
</div>