upstream web {
    ip_hash;
    server web:8000;
}

server {
    listen 8000;
    server_name *.${DOMAIN} ${DOMAIN};
    client_max_body_size 5M;

    location /static/ {
        alias /www/static/;
    }

    location /media/ {
        alias /www/media/;
    }

    location / {
        proxy_pass http://web/;
        proxy_set_header Host ${DOMAIN};
    }

}